# Default ignored files
/../../Cooperativa_CoopRKC./.idea/shelf/
/../../Cooperativa_CoopRKC./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Cooperativa_CoopRKC./.idea/httpRequests/
# Environment-dependent path to Maven home directory
/../../Cooperativa_CoopRKC./.idea/mavenHomeManager.xml
# Datasource local storage ignored files
/../../Cooperativa_CoopRKC./.idea/dataSources/
/../../Cooperativa_CoopRKC./.idea/dataSources.local.xml
